.folder {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1376px;
  margin-top: -88px;
}

.folder__first {
  margin-top: 0;
}

.folder__tab-area {
  display: flex;
  grid-column: span 12;
  height: 78px;
}

.folder__tab-area__tab {
  background-color: var(--bg-color);
  border-top: solid 1px var(--folder-border-color);
  border-left: solid 1px var(--folder-border-color);
  border-right: solid 1px var(--folder-border-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 14px 52px 0 52px;
  z-index: 1;
}

.folder__tab-area__tab p {
  margin: 0;
}

.folder__case-study {
  grid-column: span 12;
  background-color: var(--bg-color);
  border: solid 1px var(--folder-border-color);
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
  transform: translateY(-2px);
  padding-right: 52px;
  padding-left: 52px;
}
