.lessons-learned__quote-box {
  background-color: var(--quote-box-base-color);
  border: solid 1px;
  border-radius: 8px;
  box-shadow: -14px -14px 0 0 var(--quote-box-shadow-color);
  margin-top: 38px;
  margin-bottom: 32px;
  padding: 26px;
}

.lessons-learned__try-boki-button {
  width: 448px;
  height: 60px;
  background-color: #713A12;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 64px;
}

.lessons-learned__try-boki-button a {
  color: #FFE0C1;
  font-family: 'Inter', Serif;
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: center;
}

.lessons-learned__try-boki-button:hover {
  background-color: #fefcf8;
  color: #713A12;
  border: solid 1px #713A12;
}

.lessons-learned__try-boki-button a:hover {
  color: #713A12;
}