.empathize__col h1 {
  margin-bottom: 12px;
  font-size: 22px;
}

.empathize__col h1:last-of-type {
  margin-bottom: 12px;
  margin-top: 38px;
  font-size: 22px;
}

.empathize__col a:hover {
  text-decoration: underline;
}

.giftd-intro-img {
  margin-top: 40px;
}