.image-styles__inline {
  grid-column: 8 / 13;
  margin-top: 58px;
}

.image-styles__aligned {
  grid-column: 2 / 12;
}

.image-styles__full {
  grid-column: span 12;
}

.image-styles__center {
  grid-column: 3 / 11;
  margin-top: 48px;
}

.image-styles__right {
  grid-column: 6 / 13;
  margin-top: 40px;
}

.image-styles__max-right {
  grid-column: 7 / 13;
  margin-top: 48px;
}

.image-styles__max-left {
  grid-column: 1 / 7;
  margin-top: 48px;
}