.about {
  background-color: #F4F3EE;
}

.about__navigation {
  padding-bottom: 0 !important;
}

.about__wrapper {
  margin: 0 auto;
  max-width: 1376px;
}

.about__col-right {
  grid-column: 9 / 13;
}

.about__col-left {
  grid-column: 1 / 7;
}

.about__border {
  border-bottom: 1px solid;
  grid-column: span 12;
  margin-top: 18px;
}

.about__image-large,
.about__image-small,
.about__col-right,
.about__col-left {
  margin-top: 58px;
}

.about__image-large {
  grid-column: 1 / 6;
}

.about__image-small {
  grid-column: 6 / 8;
}

.about h1 {
  font-weight: 400;
}