.case-studies {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1376px;
}

.case-studies__navigation {
  padding-bottom: 24px !important;
}

.case-studies__hero {
  grid-column: span 12;
}

.case-studies__scroll-up-button {
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #221F1D;
  border-radius: 100px;
}

.case-studies__scroll-up-button a {
  color: #EBE7E3;
  font-family: 'Inter', Serif;
  font-size: 38px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: center;
}