.meet-the-app__intro {
  grid-column: 1 / 4;
  margin-top: 58px;
}

.meet-the-app__hero {
  margin-top: 82px;
}

.meet-the-app__section-details p {
  font-size: 18px;
  margin-top: 21px;
}

.meet-the-app__images-container {
  display: flex;
  gap: 18px; 
  grid-column: 8 / 13;
  margin-top: 0;
}

.meet-the-app__images-description {
  grid-column: 10 / 13;
  padding-right: 12px;
  text-align: center;
  margin-top: 24px
}

.meet-the-app__test {
  max-width: 226px;
}