.empathize__col h1 {
  margin-bottom: 12px;
  font-size: 22px;
}

.empathize__col h1:last-of-type {
  margin-bottom: 12px;
  margin-top: 38px;
  font-size: 22px;
}

.square-col {
  margin-top: 36px;
}

.square {
  height: 192px;
  width: 448px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #E97761D4;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.square p {
  font-size: 20px;
}

.custom-col-text {
  margin-top: 28px;
}

.sync-contacts {
  margin-top: 36px;
}