.content {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1376px;
}

.content__double-col-left {
  grid-column: 1 / 6;
  margin-top: 58px;
}

.content__double-col-right {
  grid-column: 8 / 13;
  margin-top: 58px;
}

.content__double-col-right p:last-child {
  margin-bottom: 0;
}
