.single-col {
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1376px;
}

.single-col h1 {
  grid-column: 8 / 12;
  margin-bottom: 12px;
  margin-top: 24px;
}

.single-col h1:first-of-type {
  margin-top: 48px;
}

.single-col p {
  grid-column: 8 / 12;
  margin-bottom: 14px;
}
